[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rsurveycto"]
	path = rsurveycto
	url = https://github.com/agency-fund/rsurveycto
